#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/* Shorthand */
#define _ &kp
#define __ &none

#define _CTLQ &mt LCTL Q /* Q (tap), ctrl (hold) */
#define _CENT &mt LCTL RET /* Enter (tap), ctrl (hold) */

#define NTAB  LC(PGDN) /* Next tab */
#define PTAB  LC(PGUP) /* Previous tab */
#define SFTAB LS(TAB)  /* Shift-tab */

#define LAYOUT36( \
	a0, a1, a2, a3, a4, /**/ a5, a6, a7, a8, a9, \
	b0, b1, b2, b3, b4, /**/ b5, b6, b7, b8, b9, \
	c0, c1, c2, c3, c4, /**/ c5, c6, c7, c8, c9, \
	/*   */ d2, d3, d4, /**/ d5, d6, d7 \
	) \
	&none a0 a1 a2 a3 a4 a5 a6 a7 a8 a9 &none \
	&none b0 b1 b2 b3 b4 b5 b6 b7 b8 b9 &none \
	&none c0 c1 c2 c3 c4 c5 c6 c7 c8 c9 &none \
	      d2 d3 d4 d5 d6 d7

/ {
    //
    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // ┌─────────────────────┐┌─────────────────────┐
            // │ q^  w   f   p   b   ││ j   l   u   y   bks │ Colemak DH
            // │ a   r   s   t   g   ││ m   n   e   i   o   │
            // │ z   x   c   d   v   ││ k   h   ,_  .   ent^│ (ent-ctrl)
            // └───────┐ gui SYM ↑   ││ ──  NAV alt ┌───────┘
            //         └─────────────┘└─────────────┘
            
            bindings = < LAYOUT36(
                _CTLQ,        _ W, _ F,    _ P,     _ B,    /**/  _ J,     _ L,     _ U,     _ Y,   _ BSPC,
                _ A,          _ R, _ S,    _ T,     _ G,    /**/  _ M,     _ N,     _ E,     _ I,   _ O,
                _ Z,          _ X, _ C,    _ D,     _ V,    /**/  _ K,     _ H,     _ COMMA, _ DOT, _CENT
                /*,           */,  _ LGUI, &mo SYM, _ LSFT, /**/  _ SPACE, &mo NAV, _ LALT
            ) >;
        };

        NAV {
            display-name = "NavNum";
            // ┌─────────────────────┐┌─────────────────────┐
            // │ ctl gui ⇤   ⇥   alt ││ ,   hme ▲   end del │
            // │ 1   2   3   4   5   ││ .   ◀   ▼   ▶   ent │
            // │ 6   7   8   9   0   ││ ins p↑  p↓  esc ctl │
            // └───────┐ ·   SYM ·   ││ spc ━━  ralt┌───────┘
            //         └─────────────┘└─────────────┘

            bindings = < LAYOUT36(
                _ RCTRL, _ RGUI, _ SFTAB, _ TAB,      _ LALT, /**/ _ COMMA, _   HOME, _ UP,   _ END,   _ DEL,
                _ N1,    _ N2,   _ N3,    _ N4,       _ N5,   /**/ _ DOT,   _   LEFT, _ DOWN, _ RIGHT, _ RET,
                _ N6,    _ N7,   _ N8,    _ N9,       _ N0,   /**/ _ INS,   _   PGUP, _ PGDN, _ ESC,   _ LCTL
                /*,                */,     __,  __,   _ LSFT  /**/ _ SPACE, __, _ RALT
            ) >;
        };

        SYM {
            display-name = "Symbols";

            // ┌─────────────────────┐┌─────────────────────┐
            // │ '⁺  "   ^   ?   `   ││ [   <   =   >   ]   │ Symbols
            // │ !⁺  @   #   $   %   ││ {   (   :   )   }   │
            // │ \⁺  ~   |   ;   &   ││ /   *   -   +   _   │ ⁺ = layer tap
            // └───────┐─────────────││─────────────┌───────┘
            //         │ ·   ▓▓  ADJ ││ ·   FUN ralt│
            //         └─────────────┘└─────────────┘
            bindings = < LAYOUT36(
                _ QUOT,  _ DQT,   _ CARET, _ QMARK, _ GRAVE, /**/ _ LBKT,  _ LT,    _ EQUAL, _ GT,   _ RBKT,
                _ EXCL,  _ AT,    _ HASH,  _ DLLR,  _ PRCNT, /**/ _ LBRC,  _ LPAR,  _ COLON, _ RPAR, _ RBRC,
                - BSLH,  _ TILDE, _ PIPE,  _ SEMI,  _ AMPS,  /**/ _ SLASH, _ STAR,  _ MINUS, _ PLUS, _ UNDER
                /*,                    */,      __,  __, __, /**/ _ SPACE, __, _ RALT
            ) >;
        };

        ADJ {
            display-name = "System";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4      &kp F5            &kp F6  &kp F7  &kp F8  &kp F9  &kp F10      &trans
&trans  &kp F11       &kp F12       &trans        &trans      &studio_unlock            &trans  &trans  &trans  &trans  &trans       &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &bt BT_CLR_ALL    &trans  &trans  &trans  &trans  &bootloader  &trans
                                    &trans        &trans      &trans            &trans  &trans  &trans
            >;
        };
        EXTRA {
            display-name = "extra";
            bindings = <
&trans  &trans        &trans        &trans        &trans      &trans            &trans  &trans  &trans  &trans  &trans      &trans
&trans  &trans       &trans       &trans        &trans      &trans            &trans  &trans  &trans  &trans  &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &bootloader  &trans
                                    &trans        &trans      &trans            &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        l3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
